*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    font-family: sans-serif;
    width:1100px;
    margin:auto;
}
.flex{
    display:flex;
    justify-content:space-between;
}

/* ======================= Header =================================== */

.header {
    padding:25px 0;
    position: sticky;
    top:0;
    background-color: white;
    box-shadow: 0 0 20px 0 rgb(217, 228, 243);
}
.header .container {
    align-items: center;
}

.header .left-side span{
    color:#71c55d;
}
.header .left-side {
    font-size:20px;
}
.header .right-side{
    width:55%;
}
.header ul{
    list-style: none;
}
.header ul li a.first-child{
    color: #71c55d;
}
.header ul li a{
    text-decoration: none;
    color:black;
}
.header ul li a:hover{
    color:#71c55d;
}

/* ========================== First ====================================== */

.first-section{
    background-color: #f1f6f1;
    
}
.first-section .container{
    display:flex;
    flex-direction: column;
    row-gap: 60px;
    padding:125px 0 60px;
}
.first-section .upper-box{
    display:flex;
}
.first-section .right-side img{
    width:100%;
}
.first-section .left-side h1{ 
    font-size: 50px;
    margin:25px 0;
}
.first-section .left-side p{
    color:gray;
    margin:25px 0;
}
.first-section .left-side .btn1{
    background-color:#71c55d;
    padding:15px 20px;
    color:white;
    border:none;
    border-radius: 25px;
    width:150px;
    font-size: 16px;
}
.first-section .left-side .btn2{
    align-items:center;
    width:160px;
    font-size: 16px;
    font-weight: bold;
    color:#71c55d;
    padding:10px;
    background-color: transparent;
    border: none;
}
.first-section .left-side .btn{
    width:335px;
}
.first-section .lower-box .boxes{
    width:250px;
    height:270px;
    background-color:white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding:15px 15px 35px;
    box-shadow: 0 0 25px 5px rgb(236, 229, 229);
    color:rgb(90, 88, 88);
    border-radius: 10px;
}
.first-section .lower-box .boxes div{
    margin:40px 0;
}
.first-section .lower-box .boxes h4{
    font-size:22px;
}
.first-section .lower-box span{
    font-size: 60px;
}
.lower-box .boxes:hover{
    background-color:#71c55d;
    color:white;
}
/* ============================== second =========================================== */
.second-section{
    height:550px;
}
.second-section .container{
    display:flex;
    column-gap: 10px;
    padding:60px 0;
}
.second-section .left-side{
    width:50%;
}
.second-section .left-side h1{
    margin:15px 0;
    font-size: 32px;
}
.second-section .left-side .first-text{
    font-style: italic;
    color:rgb(92, 90, 90);
    line-height: 1.5;
}
.second-section .left-side .last-text{
    line-height: 1.5;
}
.second-section .left-side h5{
    color:gray;
    font-weight:100;
    font-size: 15px;
}
.second-section .left-side div{
    display:flex;
    height:50px;
    align-items:center;
    height:30px;
    color:rgb(92, 90, 90);
}
.second-section .second-child{
    margin:15px 0;
}
.second-section .first-child{
    margin-top:20px;
}
.second-section .third-child{
    margin-bottom:10px;
}
.second-section .left-side button{
    width:150px;
    align-items:center;
    padding:15px;
    background-color:#71c55d;
    border:none;
    border-radius:5px;
    color:white;
    font-size: 16px;
    margin-top:30px
}
.second-section .left-side button:hover span{
    margin-left:10px;
    cursor: pointer;
}
.second-section .right-side{
    width:50%;
    height:80%;
    display:flex;
    column-gap: 20px;
}
.second-section .right-side img{
    width:100%;
    height:100%;
}
.second-section .right-side .single-pic{
    width:50%;
}
.second-section .right-side .single-pic img{
    border-radius:10px;
}
.second-section .right-side .double-pic{
    width:50%;
    display:flex;
    flex-direction:column;
    row-gap: 20px;
}
.second-section .right-side .double-pic img{
    border-radius:10px;
}
/* ======================================== Third ================================ */

.third-section .main{
    flex-wrap: wrap;
    margin:70px 0;
}
.mgn-25{
    margin-top:25px;
}
.third-section .main .mini-mains{
    width:350px;
    height:350px;
    padding:40px 25px;
    border-radius: 20px;
    box-shadow: 0 0 50px 10px rgb(217, 224, 243);
}
.third-section .main .mini-mains span{
    border-radius: 50%;
    background-color:#71c55d;
     font-size: 35px;
     padding:20px;
     color:white
}
.third-section .main .mini-mains h3{
    margin:20px 0;
    font-size: 25px;
    font-weight: 600;
}
.third-section .main .mini-mains p{
  font-size: 15px;
  font-weight: 100;
  color:rgb(78, 77, 77);
}
/* =================================== Forth ================================== */
.forth-section{
    background-color: #f1f6f1;
    padding-top:40px ;
}
.forth-section .main{
    display: flex;
    padding:50px 0;
}
.width-50{
    width:50%;
}
.forth-section .left-bar{
  flex-grow: 1;
}
.forth-section .left-bar img{
    width:80%;
}
.column-1 {
    display:flex;
    flex-direction: column;
    row-gap: 30px;
}
.details{
    width:250px;
    height:70px;
    background-color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    column-gap: 10px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 20px 0px rgb(203, 223, 230);
}
.forth-section .right-bar .column-1 span{
    color:#71c55d;
    background-color:rgb(241, 248, 246);
}

.forth-section .right-bar  span{
    color:#71c55d;
    background-color:rgb(241, 248, 246);
}

/* ===================================== fifth ============================== */
.fifth-section {
    padding:40px 0;
}
.first-line{
    width:100px;
    border-radius: 20px;
    padding:10px 15px;
    background-color: #f1f6f1;
    color:#71c55d;
    text-align: center;
    font-size:14px;
    font-weight: bold;
    margin:20px auto;
}

.second-line span{
    color:#71c55d;
}
.mgn-10{
    margin:25px 0;
}
.mgn-30{
    margin:33px 0;
}
.fifth-section .plans{
    text-align: center;
    width:250px;
    align-items: center;
    padding:50px 0px;
    box-shadow: 0 0 25px 0px rgb(221, 234, 236);
}
.fifth-section .plans sup{
    font-size:20px;
}
.fifth-section .plans .monthly-fee{
    font-weight: bold;
    font-size:35px;
}
.fifth-section .plans span:not(.diff-num){
    font-size: 30px;
    font-weight: 200;
    color:gray;
}
.fifth-section .plans span.diff-num{
    font-size:45px;
    padding-top:10px;
    vertical-align: top;
    font-weight: 200;
}
.fifth-section .plans .icons .span-1{
    color:#71c55d;
    font-size: 70px;
}
.fifth-section .plans .icons .span-2{
    font-size: 70px;
    color:rgb(120, 174, 236);
}
.fifth-section .plans .icons .span-3{
    font-size: 70px;
    color:orange;
}
.fifth-section .plans .icons .span-4{
    font-size: 70px;
    color:blue;
}
.fifth-section .plans ul .cross{
    text-decoration: line-through;
    color:gray;
}
.fifth-section .plans ul{
    list-style: none;
}
.fifth-section .plans ul li{
    margin: 15px 0;
    color:rgb(90, 89, 89);
    
}
.fifth-section .plans button{
    text-decoration:none;
    border:2px solid #71c55d;
    padding:10px 30px;
    border-radius: 25px;
    color:#71c55d;
    font-size: 16px;
    font-weight: bold;
    background-color:transparent;
}
.fifth-section .plans button:hover{
    background-color:#71c55d;
    color:white;
}
.color-1{
    color:#71c55d;
}
.color-2{
    color:rgb(120, 174, 236);
}
.color-3{
    color:orange;
}
.color-4{
    color:blue;
}
.fifth-section .third-line{
    display:flex;
    margin:50px 0;
    justify-content: space-between;
}

/* ======================================= sixth =============================== */
.sixth-section{
    background-color: #f1f6f1;
}
.sixth-section .container{
    display:flex;
    column-gap: 50px;
    padding:40px 0;
}
.sixth-section .left{
    width:30%;
    padding:20px 50px;
}
.sixth-section .left p{
    color:gray;
    margin:10px 0;
    margin:15px 0;
}
.sixth-section .left div{
    font-size: 30px;
    font-weight: 100;
    margin:15px 0;
}
.sixth-section .left h2{
    font-size: 35px;
    margin:15px 0;

}
.sixth-section .right{
    width:70%;
    padding:0;
}
.sixth-section .right li{
    background-color: white;
    height:70px;
    margin:20px 0;
    list-style-position: inside;
    padding:20px;
    box-shadow: 0 0 25px 0 rgb(211, 232, 240);
}

.sixth-section .right li::marker{
    color:#71c55d;
}
.sixth-section .right ol li:hover{
    color:#71c55d;
}
/* ================================= seventh =================================== */
.seventh-section{
    padding:50px 0;
}
.second-line{
    width:350px;
    font-size:30px;
    margin:50px auto;
    text-align: center;
}
.seventh-section .left{
    width:30%;
    padding:0px 10px 100px ;
}
.seventh-section .left div:nth-child(2){
    margin:15px 0;
}
.seventh-section .left div{
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}
.seventh-section .left span{
    font-size:20px;
    background-color: #dcecdc;
    border-radius: 50%;
    padding:10px;
}
.seventh-section .left span:hover{
    background-color:#71c55d;
    color:white;
}
.seventh-section .left p{
    font-size: 14px;
}
.seventh-section .left .info{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    row-gap: 10px;
    flex-grow: 1;
}
.seventh-section .right{
    width:70%;
    text-align: center;
}
.seventh-section .main{
    display:flex;
    column-gap: 55px;
}
.seventh-section .right input{
    width:100%;
    height:50px;
    border:1px solid  lightgray;
    padding-left:15px;
    outline: none;
    margin:20px 0;
}
.seventh-section .right input:hover{
    border-color:#71c55d;
}
.seventh-section .right textarea{
    width:100%;
    flex-grow: 1;
    border:1px solid  lightgray;
    padding:15px;
    font-family: sans-serif;
    outline: none;
    margin:20px 0;
    height:150px;
}
.seventh-section .right textarea:hover{
    border-color:#71c55d;
}
.seventh-section .right .first-inpt{
    display:flex;
    column-gap: 20px;
}
.seventh-section .message{
    width:150px;
    padding:12px;
    background-color:#71c55d;
    color:white;
    border:none;
    border-radius: 20px;
    font-size:15px;

}
/* ========================================= Footer =================================== */
.footer{
    background-color:rgb(225, 241, 247);
    padding:50px 0;
}
.footer .container{
    margin:auto;
    text-align: center;
}
.footer .container div:nth-child(2){
    margin:20px 0;
}
.footer div:first-child{
  color:rgb(56, 55, 55);
  font-size: 15px;
}
.footer div:first-child i{
    font-size: 11px;
    margin:0 5px ;
}
.footer div:nth-child(2) i{
   color:rgb(171, 171, 171);
   border:2px solid rgb(177, 171, 171);
   padding:12px 13px;
   border-radius: 50%;
}
.footer div:nth-child(3){
    font-size:12px;
    color:rgb(56, 55, 55);
}
.footer div:nth-child(3) span{
    color:#71c55d;
}
.back-to-top{
    background-color:  #71c55d;
    border-radius: 50%;
    padding:15px;
    color:white;
    position:fixed;
    right:10px;
    bottom:10px;
}
